@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --main-color: #093637;
}
.color1{
    background-color: red;
}
.color2{
    background-color: yellow;
}
.color3{
    background-color: gray;
}
a{
    color: #000;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0px 0px 0px 30px;
    font-family: Ubuntu;
    form{
        div{
            display: flex;
            
        }
        
    }
    .elements{
        display: flex;

        flex-direction: row;
        margin: 7px 30px;
        
        li{
            list-style: none;
            margin: 5px 0px;
            font-weight: 600;
        }

        .button{
            border: 1px solid #093637;
            border-radius: 20px;
            min-width: 90px;
            padding: 0 10px;
            height: 27px;
            text-align: center;
            font-size: 14px;
            padding-top: 10px;
            font-weight: bold;
            margin: 0px 5px;
        }
    }
}