table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}
b{
    font-size: 25px;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 21%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th, td {
    padding: 20px;
}
/* typography */

html {
    font-family: 'Merriweather', serif;
    background: url("bg2.jpg");

}

thead th, tfoot th {
    font-family: 'Merriweather', serif;

}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;

}

tfoot th {
    text-align: right;
}
thead, tfoot {
    background: url(bg2.jpg);
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
    background: #688ee0;
    border: 3px solid black;
}
tbody tr:nth-child(odd) {
    background-color: #ff9ba2;

}

tbody tr:nth-child(even) {
    background-color: #ffadb6;
}

tbody tr {
    background-color: cornsilk;

}

table {
    background-color: #C0C0C0;
}
caption {
    font-family: 'Merriweather', serif;
    padding: 20px;
    font-style: italic;

    color: white;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}